@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



body {font-family: "Open Sans", sans-serif;; color: white}
body.dark {background-color: #11222e;}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", sans-serif;
   margin-top: 0;
  color: #fff;
}
.dark h1 {
    color: #fff;
}

h1 {text-transform: uppercase; font-weight: 400; font-size: 2rem}
h2 {text-transform: uppercase; font-size: 1.2rem; font-weight: 500}

@media (max-width: 767.98px) {
	h1 {font-size: 1.4rem; font-weight: 600}
	h2 {font-size: 1rem; font-weight: 500}
}

p {font-size: 0.875rem}

small {font-size: .7rem}

.libelle-1, .libelle {font-size: 0.875rem; font-weight: 600}

.backLink a {color: #FED36A;}
.backLink a:hover{text-decoration: underline}

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}


/******** AJOUT POUR MENU **********/

.active, a.active, .nav-link:hover {
	background-color: #414E59;
	color:#fff;}

.nav-link {color: #fff; }

.nav-link-droite:hover {background-color: transparent !important}

/******** FIN AJOUT POUR MENU **********/

.block-title h4 {font-size: 0.875rem; text-transform: uppercase; padding: 10px 0px 3px; color: #FED36A; font-weight: 600}

a {
  color: #232B33;
  text-decoration: none;
}

a, .text-action {
  color: #232B33;
  transition: all 0.2s ease;
}

.bi {
  display: inline-block;
  vertical-align: -.125em;
  fill: currentcolor;
}

.btn {border-radius: 1.6rem; font-weight: 300}

  .primaire, .primaire:hover {
    background-color:#FED36A; ;
    border-radius: 30px;
    color: #000;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
  }
@media (max-width: 991.98px) {  
	.primaire, .primaire:hover {
    background-color:#FED36A; ;
    color: #000;
    font-weight: 700;
	line-height: 30px;
	font-size: 16px;
  }
}

.btn-dark {background-color: #414E59}
.btn-dark:hover {background-color: #232B33}

.bg-secondary {background-color: #FED36A !important; color: #000; border-radius: 0px}
.bg-secondary-2 {background-color: #FED36A !important; color: #000;}

.btn-secondary {border: none; background-color: #257D9B !important; color: white}

.btn-ajout { background-color: #3F5B6F; border: none; font-size: .75em; font-weight: 600}
.btn-success, .btn-success:hover {background-color: #3affcd !important; color: #11222e;font-weight: 700 !important}

.btn-add-item, .btn-add-item a {color: #3affcd; font-size: .85em; font-weight: 600; border: 1px solid #3affcd; padding: .5rem; border-radius: 1.6rem;}


.dot {
  width: 12px;
  height: 12px;
}


.fw-bold {
  font-weight: 500 !important;
}


.fw-extrabold {
  font-weight: 700 !important;
}

.font-small {
  font-size: 0.875rem;
  font-weight: 300;
}


.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.5rem;
}


.list-group-item {
background-color: #ffffff;}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #111827;
  background-color: #ffffff;
  border: 0.0625rem solid rgba(17, 24, 39, 0.125);
}


.list-group-flush > .list-group-item {
  border-width: 0 0 0.0625rem;
    border-bottom-width: 0.0625rem;
}


.progress {
  height: 6px;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #E5E7EB;
  font-size: 0.75rem;
  font-weight: 500;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-info {
  display: flex;
  
  -ms-align-items: center;
  align-items: center;
  
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  margin-bottom: 0.5rem;
}


.dropdown-menu-lg {
    min-width: 300px !important;
    border-radius: 1rem;
}



.sidebar-text {color: white; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  overflow: hidden;
  border-top: 1px solid #E5E7EB;
    border-top-color: rgb(229, 231, 235);
}



/******* NAVBAR ***************/
.navbar-theme-primary:not(.headroom) {
  background-color: #232B33;
}

.navbar-brand img {
    height: 40px;
}


.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-dashboard {
  border-radius: 0rem;
}



.navbar-theme-primary:not(.headroom) {
  background-color:#1b3344;
}

.user-card {
  border-bottom: 0.0625rem solid #2e3650;
}

[data-simplebar] {
  position: fixed;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}


.notification-bell.unread::before {
  position: absolute;
  content: "";
  background-color: #E11D48;
  right: 12px;
  top: 7px;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
	border: 2px solid #F2F4F6;}



.dropdown-toggle::after, .dropend .dropdown-toggle::after, .dropstart .dropdown-toggle::before, .dropup .dropdown-toggle::after {
  display: none;
}


.dropdown-toggle-btn::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}



.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 12rem;
  padding: 0.5rem 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  margin: 0;
    margin-top: 0px;
  font-size: 0.875rem;
  color: #414E59;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 0.0625rem solid #E5E7EB;
  border-radius: 0.35rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}




.dropdown-menu .dropdown-header .dropdown-icon, .dropdown-menu .dropdown-item .dropdown-icon {
  height: 1.25rem;
  width: 1.25rem;
}



.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}

.dropdown-menu .dropdown-header .dropdown-icon,
.dropdown-menu .dropdown-item .dropdown-icon {
    height: 1.25rem;
    width: 1.25rem;
}

.dropdown-menu .dropdown-header {
    color: #111827;
    font-weight: 500;
}

.dropdown-menu .dropdown-item {
    transition: all 0.2s ease;
    font-weight: 400;
}

.dropdown-item {
  font-weight: 400;
  color: #111827;
  text-align: inherit;
  white-space: nowrap;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #ccc;
}


.navbar .navbar-nav .dropdown .dropdown-item {
  font-size: 0.875rem;
}


@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        padding: 0.625rem 0;
    }

    .navbar-nav .dropdown-menu {
        box-shadow: none;
        width: 100%;
    }

    .navbar-nav .dropdown-menu .media svg {
        width: 30px;
    }

    .dropdown-menu-center {
        right: 0;
        left: auto;
        transform: translate(0, 0);
    }
}

@media (max-width: 991.98px) and (max-width: 991.98px) {
    .dropdown-menu-center {
        transform: translateX(-75%);
    }
}


@media (min-width: 992px) {
    .navbar-nav .nav-item [data-toggle=dropdown]::after {
        transition: all 0.2s ease;
    }

    .navbar-nav .nav-item.show [data-toggle=dropdown]::after {
        transform: rotate(180deg);
    }

    .navbar-nav .nav-link i {
        margin-right: 0.3rem;
        font-size: 0.75rem;
    }

    .navbar-nav .nav-link-icon {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 1rem;
    }

    .navbar-nav .nav-link-icon i {
        margin-right: 0;
    }

    .navbar-nav .dropdown-menu {
        opacity: 0;
        pointer-events: none;
        margin: 0;
        border-radius: 0.35rem;
    }

    .navbar-nav .dropdown-menu-end:before {
        right: 20px;
        left: auto;
    }
	
	


.dropdown-menu-end[data-bs-popper] {
    right: 0;
    left: auto;
}

    .navbar-nav .dropdown-menu-center {
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-nav .dropdown-menu.show,
.navbar-nav .dropdown-megamenu.show,
.navbar-nav .dropdown-megamenu-md.show {
        opacity: 1;
        pointer-events: auto;
    }

    .navbar-nav .dropdown-menu.close,
.navbar-nav .dropdown-megamenu.close,
.navbar-nav .dropdown-megamenu-md.close {
        display: block;
    }

    .navbar-nav .dropdown-submenu .dropdown-menu {
        transform: none;
    }

    .navbar-nav .dropdown-menu {
        position: relative;
        display: block;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s ease;
    }

    .navbar-nav .dropdown.show > .dropdown-menu,
.navbar-nav .dropdown-submenu.show > .dropdown-menu {
        display: block;
        opacity: 1;
        pointer-events: auto;
    }

    .navbar-nav .dropdown-menu-inner {
        position: relative;
        padding: 1rem;
    }

    .navbar-transparent .navbar-nav .nav-link.disabled {
        color: rgba(255, 255, 255, 0.9);
    }

    .navbar-transparent .navbar-brand {
        color: rgba(255, 255, 255, 0.9);
    }
}



/* AVATAR */

.icon.icon-sm {
  height: 1.5rem;
}
	
.avatar {
    width: 2rem;
    height: 2rem;
}

.avatar img {
    width: 2rem;
    height: 2rem;
}	

.navbar-nav .avatar img {
    border-radius: 50%;
}

.icon.icon-xxs {
  height: 1rem;
}

.icon-bell {color: white}

/*
 * Sidebar
*/
.sidebar {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    max-height: 100%;
    overflow-y: auto;
    width: 100%;
    transition: max-width 0.1s;
	background-color: #1b3344;
}


.sidebar-inner {
  position: relative;
  overflow-y: hidden;
}


.sidebar .nav {
    white-space: nowrap;
}

.sidebar .nav-item {
    margin-bottom: 0.2rem;
}

.sidebar .nav-item.active > .nav-link {
    color: #F2F4F6;
    background-color: #414E59;
}

.sidebar .nav-item .nav-link {
    color: #ffffff;
    cursor: pointer;
}

.sidebar .nav-item .nav-link:hover {
    color: #F2F4F6;
    background-color: #414E59;
}

.sidebar .nav-link + .multi-level {
    margin-top: 0.2rem;
}

.sidebar .nav-link {
    font-size: .8rem;
    vertical-align: middle;
    padding: 0.55rem 0.75rem;
    border-radius: 0;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.sidebar .nav-link .sidebar-icon {
    margin-right: 0.5rem;
    color: #9CA3AF;
	
}
.pictos {height: 2rem}

.sidebar .nav-link .link-arrow {
    font-size: 0.875rem;
}

.sidebar .nav-link[data-bs-toggle=collapse][aria-expanded=true] .link-arrow {
    transform: rotate(90deg);
    transition: all 0.2s ease;
}

.sidebar .nav-link.active {
    color: #F2F4F6;
}


@media (min-width: 768px) {
    .sidebar {
        width: 100%;
        max-width: 260px;
		
    }
}




.text-white a:not(.btn), .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white .h1, .text-white .h2, .text-white .h3, .text-white .h4, .text-white .h5, .text-white .h6, .text-white .display-1, .text-white .display-2, .text-white .display-3, .text-white .display-4 {
  color: #ffffff;
}


/*********** CONTENT ******************/

.content {
  overflow: hidden;
  padding: 0 1rem 0 1rem;
  transition: all 0.3s;
}

@media (min-width: 992px) {
    .content {
        margin-left: 260px;
    }
}

/***************** FORM *******************/

/* hide the blue outline */
.form-control:focus, .form-control-lg:focus, .form-select-lg:focus, .form-select-sm:focus, .accordion-button:focus, .form-check-input:focus, .btn:focus, input[type="button"]:focus, .btn-close:focus, .page-link:focus, *:focus {
    outline: 0 !important;
    border-color: transparent!important;
    box-shadow: none !important;
}

label {font-weight: 600; font-size: .8rem; color: darkgrey}

.input-group .form-control:focus + .input-group-text {
    border-color: #D1D5DB;
}

.input-group-text {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.625rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: 0.0625rem solid #D1D5DB;
    border-radius: 0.5rem;
}


.search-bar .form-control {
    width: 280px;
    transition: width 0.2s ease-in-out;
}

@media (max-width: 575.98px) {
    .search-bar .form-control {
        width: 120px;
    }

    .search-bar .form-control:focus {
        width: 150px;
    }
}


.form-control, .form-select {
    display: block;
    width: 100%;
    padding: 1rem .75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #455A64;
    background-clip: padding-box;
    border: 0.0625rem solid #455A64;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

  .form-select {
    background-image: url('data:image/svg+xml,<svg width="21" height="11" viewBox="0 0 21 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_97_337)"><path d="M20.8647 0.134277L10.5 10.7274L0.13147 0.134277" stroke="%23edeffa" stroke-miterlimit="10"/></g><defs><clipPath id="clip0_97_337"><rect width="21" height="11" fill="white"/></clipPath></defs></svg>');
  }


.form-control::placeholder {
    color: rgba(255, 255, 255, .6);
    opacity: 1;
}


.icon.icon-xs {
  height: 1.25rem;
}

/**
 * = ACCORDION
 */
.accordion{font-size: .8rem; border-color: #1b3344 !important}
.accordion-item {margin-bottom: 1rem; border: 0; color: #fff;}
.accordion-button, .accordion-button:not(.collapsed) {background-color: #1b3344; font-weight: 600; font-size: .75rem; color: #fff; text-transform: uppercase} 
.accordion-body {background-color: #152a38;}
.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
 }

/**
 * = COLLAPSE
 */

.title-collapse {font-size: .8em; cursor: pointer}

/**
 * = Shapes
 */
.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
}

.avatar-md {
    width: 3rem;
    height: 3rem;
}

.avatar-lg {
    width: 4.5rem;
    height: 4.5rem;
}


.avatar-lg img {
  width: 4.5rem;
  height: 4.5rem;
}

/************** CARD *******************/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #152a38;
  background-clip: border-box;
  border: 0.0625rem solid rgba(17, 24, 39, 0.125);
  
}



.card .card-header {
  background: transparent;
}


.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(17, 24, 39, 0.03);
    border-bottom: 0.0625rem solid rgba(17, 24, 39, 0.125);
}

.card-header:first-child {
    border-radius: 0.4375rem 0.4375rem 0 0;
}




/******************** NAVIGATION BOTTOM **************/

.card-footer, .page-link {background-color: transparent; color: #000}


.active > .page-link, .page-link.active {
  color: #257D9B ;
  background-color: #fff;
}

/************** TABLE *******************/


.table thead th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  border-top: 0;
	background-color: transparent; color: #fff
}



.table tr td {background-color: transparent}

.table th {
  font-weight: 500;
  padding: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}


.table td, .table th {
  font-size: 0.875rem;
  white-space: nowrap;
}

/******************** STEP BAR *********************/
.step {text-transform: uppercase; font-size: .8rem; font-weight: 600}
.border-c1 {border-color: #FED36A !important}

.border-gray-700 {
  border-color: #374151 !important;
}

.alert, .alert-dismissible .btn-close {padding: .5rem .5rem; font-size: .75rem}
.alert-dismissible .btn-close {padding: .8rem .5rem; font-size: .6rem}

.badge-outline {background-color: transparent!important; border-radius: 0; border: 1px solid #a9a9a9; padding: .15em .45em }

/******************** CHECKBOX / RADIO *********************/

.form-check-input:checked {background-color: #FED36A; border-color: #FED36A;}

.form-check-input:checked[type="radio"] {background-image: none !important;}

/******************** EQUIPE *********************/

.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem ;
  border-radius: 5px;
  background: #152a38;
  height: 100%;
}

.team .member .pic {
  overflow: hidden;
  height: 120px;
	width: 180px;
}



.team .member .member-info {
  padding-left: 30px;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 16px;
  color: #fff;
}

.team .member span {
  /*display: block;*/
  font-size: 14px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
	color: #ccc;
}



.team .member p {
  margin: 10px 0 0 0;
  font-size: 12px;
	color: #ccc;
}


@media (max-width: 575.98px) {
	.team .member h4 {margin-top: .6rem}
	.team .member .member-info {
  padding-left: 0px;
}

}

/********************* PLAN DE PROGRES **************************/

section.planProgres ul {
  list-style: none;
  margin: 0  0;
  padding: 0;
  float: left;
	width:100%;
	
}

section.planProgres li {
   background-color: #152a38;
  padding: 10px 20px ;
  margin-bottom: 0px;
  width:100%;
}

section.planProgres label {
  display: block;
  cursor: pointer;
}

section.planProgres span {padding-left: 1rem}

section.planProgres .checkall {
  float: none;
  display: block;
  overflow: hidden;

}

section.planProgres .checkall li {
  float: left;
background-color: #1b3344;
	
}


section.planProgres input[type="checkbox"] {
  accent-color: #FED36A ; cursor: pointer; 
}




/******************** MODAL *********************/
.bg-modal {background-color: #152a38;}
.modal-title {font-size: 0.875rem}
.btn-modal {border: none;  font-size: .75em; line-height: 40px}
.modal-footer {border-top: 0px}

/***************************** COULEURS *****************************/

.c1 {color: #FED36A;}/*JAUNE*/
.c2 {color:#374151} /*GRIS*/
.c3 {color: darkgrey;}/*TEXTE LABEL + TEXTE CARD*/

.svgWhite {fill: #fff;}
.svgBlack {fill: #000;}
.svgSize {height: 36px !important}

.company-logo {
    max-width: 230px;
    max-height: 230px;
}
.company-logo.img-thumbnail {
    max-width: 140px;
    max-height: 140px;
}
.company-show .card-body {
    color: darkgrey
}
.company-show .address {
    font-size: 1.5rem
}

.company-show .label {
    width:50%;
    text-align: right;
    padding-right: 10px;
}
form[name="conversation"] .ts-control {
    background-color: transparent;
    padding: 0;
    border: none;
}

.widget-chat-body.ps {
    overflow: auto !important;
}

#logo {
  width: 40px;
  margin-right: 30px;
}

#welcome {
  font-style: italic;
    background: linear-gradient(to right, #06547A 0% 2.7em, #CC291F 2.7em 6em, #31b572 6em 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(1.375rem + 1.5vw);
}
